@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242; 
    --accent-color: #FF3F3C;
    --paragraph-font-size: 32px;
    --h3-font-size: 64px;
    --form-font-size: 24px;

}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}
header h1 {
    margin: 0;
    font-weight: 400;
}

main {
    background: url('/images/polaroid.png') no-repeat center 100px;
    background-position: 50px 200px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    height: 950px;
}
.hero h2 {
    margin: 0;
    font-size: 180px;
    line-height: 1em;
}

.content{
    font-size: var(--paragraph-font-size);
}
.content h3 {
    font-size: var(--h3-font-size);
    margin: 0;
    text-align: center;
}
.content p {
    margin: 24px;
    line-height: 2empx;
    letter-spacing: 0.25px;
}
.content ul li {
    list-style-type: none;
    margin: 30px 0;
    padding: 0 0 0 70px;
    letter-spacing: 0.25px;
}
.content ul li.wifi {
    background: url('/images/wifi.png') no-repeat center left;
    background-size: contain;
}
.content ul li.cloud {
    background: url('/images/cloud.png') no-repeat center left;
    background-size: contain;
}
.content ul li.qr {
    background: url('/images/qr.png') no-repeat center left;
    background-size: contain;
}
.content ul li.photo {
    background: url('/images/photo.png') no-repeat center left;
    background-size: contain;
}

.form{
    margin-bottom: 80px;
}
.form h3{
    font-size: var(--h3-font-size);
    text-align: center;
}
.form form {
    width: 1014px;
    height: 188px;
    margin: 0 auto;
    background: linear-gradient(180deg, #E2E2E2 0%, #D6D7D6 100%);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.form input {
    height: 95px;
    border: none;
    font-size: var(--form-font-size);
}
.form input.text {
    width: 650px;
}
.form input.text::placeholder {
    color: var(--primary-text-color);
    position: absolute;
    left: 30px;
}
.form input.button {
    width: 250px;
    background-color: var(--accent-color);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--main-bg-color);
}
.form input.button:hover {
    cursor: pointer;
}